# 서버의 환경변수 분리
option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 3000
    NODE_ENV: development
    DB_USERNAME: admin
    DB_PASSWORD: Tong0102!
    DB_PORT: 3306
    DATABASE: tingting
    DB_HOST: tingting-database.cqlcgxxwobm8.ap-northeast-2.rds.amazonaws.com
    DIALECT: mysql
    SECRET_KEY: 6blf4ejVsT
    JWT_SECRET: D55BF0541C22357CB1FE7DA89EB9134D26ED7C6887B2E730439FAE9F1BB35270
    JWT_SECRET_EMAIL: B2CD3FF25DF5E98C0BA64D23BD93823D0EFA6E80F31100BE634E46BAE8ADC8A3
    EMAIL_USEREMAIL: app_tingting@naver.com
    EMAIL_PASSWORD: vhrlakfrl!
